body {
  margin: 0;
  padding: 0;
  padding-top: 90px;
  font-family: 'Droid Sans', sans-serif; }

h1, h2, h3, ul {
  padding: 0;
  margin: 0; }

button {
  border: none; }

.navbar-default {
  background-color: #fff; }

.head-logo img {
  width: 300px;
  vertical-align: middle;
  padding: 10px; }

.navbar .right-panel {
  float: right;
  margin-right: 10px;
  padding: 25px 10px;
  position: relative; }

.navbar .search-ico {
  width: 25px;
  height: 25px;
  margin: 0 5px; }

.navbar a {
  text-decoration: none; }

.navbar .search-panel {
  display: none;
  position: absolute;
  bottom: -30px;
  right: 50px; }
  .navbar .search-panel input {
    border: 1px solid #000;
    padding: 2px 70px 2px 10px; }

.breadcrumbs li {
  list-style: none;
  display: inline-block;
  position: relative;
  padding-right: 15px; }

.breadcrumbs a {
  color: #ccc; }

.breadcrumbs li:last-child:after {
  content: ""; }

.breadcrumbs li:last-child {
  font-weight: 700; }

.breadcrumbs li:after {
  position: absolute;
  content: ">";
  display: block;
  top: 0px;
  right: 0;
  font-size: 16px;
  color: #ccc; }

.article-header .company-name {
  text-transform: uppercase;
  font-size: 16px;
  padding: 10px 0; }

.article-header h1 {
  padding: 12px 0;
  font-weight: 700; }

.content-block img {
  display: block;
  margin: 0 auto; }

.text-content h3 {
  font-size: 20px;
  font-weight: 700;
  padding: 10px 0; }

.text-content p {
  font-size: 16px;
  padding: 10px 0; }

.number-block {
  display: inline-block;
  border: 1px solid #ccc;
  padding: 10px 20px;
  margin: 10px 0 20px 25px; }

.request-author {
  text-align: center;
  position: absolute;
  left: -150px; }
  .request-author .author-img img {
    border-radius: 50%; }
  .request-author .author-name {
    display: block;
    font-size: 18px;
    font-weight: 700;
    padding: 10px 0; }
  .request-author .author-contacts {
    width: 60px;
    padding: 20px 0;
    margin: 0 auto;
    border-bottom: 2px solid #000;
    border-top: 2px solid #000; }

.requirement-block {
  background-color: #fef2f2;
  padding: 20px 15px;
  margin-bottom: 20px; }
  .requirement-block .requirement-header {
    font-weight: 700; }

.company-name {
  font-weight: 700; }

.response-block {
  background-color: #dddddd;
  margin-bottom: 20px; }
  .response-block .response-header {
    border-bottom: 1px dotted #b0b0b0;
    padding: 20px 15px; }
  .response-block .response-text {
    padding: 20px 15px; }

.answer-block {
  background-color: #dddddd;
  margin-bottom: 20px;
  padding: 20px 15px; }
  .answer-block .fletter {
    color: #900;
    font-weight: 700; }
  .answer-block .bold-text {
    font-weight: 700; }
  .answer-block button {
    float: right;
    background-color: #820316;
    color: #fff;
    padding: 5px 20px;
    text-transform: uppercase; }

.map-block {
  padding: 0 10px; }
  .map-block .google-map {
    width: 100%;
    height: 350px; }

.follow-block {
  border-bottom: 1px solid #ccc;
  padding: 10px;
  position: relative; }
  .follow-block p {
    font-weight: 700; }
  .follow-block img {
    float: left;
    padding-right: 10px; }
  .follow-block .rt-text {
    font-size: 18px;
    font-weight: 700;
    padding: 10px 0; }
  .follow-block .button-block {
    position: absolute;
    bottom: 10px;
    right: 130px; }
  .follow-block button {
    background-color: #820316;
    color: #fff;
    padding: 5px 20px;
    text-transform: uppercase; }

.other-articles-block .other-article {
  padding-bottom: 30px;
  border-bottom: 1px solid #ccc; }

.other-articles-block .article-category {
  font-size: 18px; }

.other-articles-block h2 {
  font-weight: 700; }

.other-articles-block .other-article-img {
  float: left;
  display: block;
  padding-right: 20px; }

.other-articles-block p {
  font-size: 14px;
  line-height: 20px; }

@media (max-width: 1280px) {
  .request-author {
    position: relative;
    left: 0; }
    .request-author .author-img {
      float: left; }
    .request-author .author-content {
      float: left;
      padding-left: 20px; }
    .request-author .author-contacts {
      border: none !important;
      padding: 0; } }
