@media (max-width:1280px){
.request-author{
        position:relative;
        left:0;
    .author-img{
        float:left;
    }
    .author-content{
        float:left;
        padding-left:20px;
    }
    .author-contacts{
        border:none!important;
        padding:0;
    }
}

}
