body{
    margin:0;
    padding:0;
    padding-top: 90px;
    font-family: 'Droid Sans', sans-serif;
}

h1,h2,h3,ul{
    padding:0;
    margin:0;
}

button{
    border:none;
}

@import 'header';
@import 'article-header';
@import 'article-slider';
@import 'article-content';
@import 'article-sidebar';
@import 'comments';
@import 'media';

.scroll-top{
    display:none;
    position: fixed;
    bottom:20px;
    right:10%;
    a{
        display:block;
        width:35px;
        height:35px;
        background-color: #666;
    }
    span{
        font-size: 20px;
        top: 25%;
        left: 25%;
        color: #fff;
    }
    a:hover{
        opacity:0.5;
    }
}